/node_modules/
/dist/
/coverage/
/.cache/
/.temp/
/.taro/
/.swc/
/.idea/
/.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example
project.private.config.json
*.map
*.gba
*.gb
*.gbc
*.zip
*.sav
*.state
*.ss?
*.pem
*.key
private.*.key
.DS_Store
Thumbs.db
